/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #F9003D; /* Vermelho SENAI */
    --cor-secundaria: #A259F7; /* Roxo SENAI */
    --cor-destaque: #FFAF00; /* Amarelo SENAI */
    --fundo-escuro: #080324; /* Fundo escuro */
    --texto-claro: #FFFFFF; /* Texto branco */
    --texto-cinza: #C7BAB3; /* Texto cinza */
    --marrom: #181012;
    --amarelo: #241a1b;
}

body {
    background-color: var(--fundo-escuro);

    color: var(--texto-claro);
    font-family: 'Bebas Neue', sans-serif;
    line-height: 1.6;
    font-size: 18px; /* Tamanho da fonte base aumentado */
    text-transform: uppercase;

    background-image: url(../assets/imagem-fundo-banner.jpg);
    background-repeat: no-repeat;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* header */
header {
    background-color: var(--cor-primaria);

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 20px;
}

.logo {
    height: 40px;
}

/* nav */
nav ul {
    list-style: none;

    display: flex;
    flex-direction: row;
}

nav ul li a {
    text-decoration: none;
    color: var(--texto-claro);

    padding: 3px 20px;
    border-radius: 5px;
}

.contato {
    background-color:#A259F7;
    padding: 10px 25px;
}

nav ul li a:hover {
    color: var(--texto-cinza);
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* main */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 150px;
}

.main h1 {
    font-size: 4rem;
}

.linha {
    color: var(--cor-destaque);
}

.h3 {
    color: var(--texto-cinza);
    font-size: 20px;

    margin-top: 5px;

    word-wrap: break-word;
}

.mouse {
    margin-top: 60px;
    margin-bottom: 200px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* sobre */
.sobre1 {
    background: var(--marrom);

    display: flex;
    align-items: center;
    flex-direction: column;

    padding-bottom: 50px;

}

section h1 {
    margin: 50px;
    color: var(--cor-primaria)
}

.bloco {
    display: flex;
    align-items: center;
}

.sobre {
    height: 300px;
}

.card {
    width: 500px;
    margin: 50px;
}

.card .info {
    color: var(--cor-destaque);

    margin-bottom: 2rem;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* endereço */
.endereco {
    padding: 60px 250px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.endereco1 {
    column-count: 3;
    width: 700px;
}

.placa {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--amarelo);   
    
    padding: 20px 0;
    width: 200px;
    border-radius: 7px;
}

.local1 {
    color: var(--cor-destaque);
    padding-bottom: 10px;
}

.local2 {
    background-color: var(--fundo-escuro);
    padding: 10px 40px;
    border-radius: 5px;

}

.endereco2 {
    color: var(--cor-primaria);
    margin: 50px;
}

.endereco3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 0 50px;
}

.mapa {
    height: 200px;
    border-radius: 5px;
    margin-left: 70px;
}

.texto {
    display: flex;
    flex-direction: column;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* FOOTER */
footer {
    background-color: #F9003D;
    color: var(--texto-claro);
    text-align: center;
    padding: 20px
}


/* ====================================================================================================================================================================================================================================================================================== */
/* responsividade */

@media screen and (max-width: 768px) {

    /* header */
    header {
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }
    .contato {
        padding: 5px 15px 
    }

    /* sobre */
    .bloco {
        flex-direction: column;
    }

    .card {
        justify-content: center;
        width: 300px;
    }

    /* main */
    main .main h1 {
        font-size: 3rem;
    }

    /* endereço */
    .endereco {
        margin: auto;
        padding: 0;

        padding-top: 30px;
    }

    .endereco1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
    }
    .placa {
        margin-top: 30px;
    }

    .mapa {
        margin-left: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .endereco3 {
        display: flex;
        flex-direction: column-reverse;
    }

}







